version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: credit_db
      POSTGRES_USER: anshbhatt
      POSTGRES_PASSWORD: 9013
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      POSTGRES_DB: credit_db
      POSTGRES_USER: anshbhatt
      POSTGRES_PASSWORD: 9013
      POSTGRES_HOST: db

volumes:
  postgres_data:

